#result,
#textArea,
#sendBtn {
    float: left;
    margin-left: 9%;
    margin-top: 5%;
    border: 2px solid darkcyan;
    resize: none;
    background-color: #d8dfe5;
    color: black;
}

body {
    background-image: url("Hitigor.github.io/background-7.jpg");
}

#sendBtn {
    width: 130px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20%;
    color: #ff4800;
    font-weight: bold;
    font-size: 20px;
}

.Txt{
    margin-left: 10%;
    font-weight: bold;
    font-size: 17px;
}